.testimonial {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 700px;

}

.testimonial-orange-title {
    letter-spacing: 3px;
    font-size: 18px;
    color: #E58411;
    text-transform: uppercase;
    font-family: 'gilroy-medium';
    text-align: center;
}

.testimonial-black-title {
    text-align: center;
    font-size: 42px;
    font-family: 'gilroy-bold';
    color: #1e1e1e;
    vertical-align: middle;
    text-transform: capitalize;
    padding-top: 2%;
    padding-bottom: 3%;
}

.testimonial-card {
    padding: auto;
}

.back-img img {
    width: 370px;
    height: 476px;
    border-radius: 18px;
    position: absolute;
    z-index: 7;

}

.back-img-blur img {
    left: 35px;
    top: 110px;
    width: 300px !important;
    height: 380px;
    border-radius: 18px;
    position: absolute;
    z-index: 6;
    filter: blur(25px);
    opacity: 0.5;
}

.owl-nav {
    justify-content: space-between;
    display: block;
}

.owl-nav .owl-prev .fa,
.owl-nav .owl-next .fa {
    color: #0D1B39;

}

.owl-nav .owl-prev {
    position: absolute;
    top: 30%;
    left: -2%;
    font-size: 50px;
}

.owl-nav .owl-next {
    right: -2%;
    position: absolute;
    top: 30%;
    font-size: 50px;
}

.white-card {
    position: absolute;
    z-index: 9;
    background-color: #fff;
    width: 334px;
    height: 206px;
    border-radius: 18px;
    top: 42%;
    left: 5%;
    text-align: center;
    padding-top: 10%;
}

.testi-name {
    font-size: 18px;
    font-family: 'gilroy-bold';
    color: #1e1e1e;
    margin-bottom: 6px;
}

.testi-job {
    font-size: 12px;
    font-family: 'gilroy-regular';
    color: #1e1e1e;
    opacity: 0.6;
    margin-bottom: 20px;
}

.testi-text {
    font-size: 14px;
    font-family: 'gilroy-regular';
    color: #1e1e1e;
    opacity: 0.8;
    margin-bottom: 20px;
}

.white-card .star-rating .fa {
    font-size: 15px;
    text-align: center;
}

.white-card .star-rating {
    padding-left: 35%;
}

.white-circle-big {
    position: absolute;
    width: 66px;
    height: 66px;
    z-index: 10;
    background-color: #fff;
    border-radius: 50%;
    top: 37%;
    left: 40%;
    padding-top: 1.85%;
}

.circle-img {
    box-shadow: 0px 5px 7px rgba(13, 27, 57, 0.35);
    margin: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("../../public/images/profi-1.jpg");
    background-size: contain;
    align-items: center;
}

.circle-img1 {
    box-shadow: 0px 5px 7px rgba(13, 27, 57, 0.35);
    margin: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("../../public/images/profi-2.jpg");
    background-size: contain;
    align-items: center;
}

.circle-img2 {
    box-shadow: 0px 5px 7px rgba(13, 27, 57, 0.35);
    margin: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("../../public/images/profi-3.jpg");
    background-size: contain;
    align-items: center;
}

footer {
    margin-top: 11%;
    height: 462px;
    background-color: #f7f7f7;
    padding: 10% 10% 3% 13%;
}

.footer-bar {
    display: flex;

}

.col1 {
    width: 40%;
}

.col2 {
    width: 20%;
}

.col1 h1 {
    font-size: 28px;
    font-family: 'gilroy-bold';
    color: #1e1e1e;
}

.col1 p {
    font-size: 15px;
    font-family: 'gilroy-regular';
    line-height: 160%;
    color: #1e1e1e;
    opacity: 0.8;
}

.footer-orange {
    font-size: 17px;
    color: #f6973f;
    font-family: 'gilroy-medium';
    line-height: 22px;
}

.col2 p {
    font-size: 15px;
    color: #1e1e1e;
    line-height: 160%;
    opacity: 0.8;
    font-family: 'gilroy-regular';

}


.col2 span {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.col2 span .fa {
    color: #1E2833;
    font-size: 20px;
    vertical-align: bottom;
    text-align: left;
}

.copyright {
    font-family: 'gilroy-medium';
    justify-content: space-between;
    display: flex;
    margin-top: 8%;
}

.copy-text {

    color: #1E2833;
    opacity: 0.5;
}

.terms-text {

    color: #1E1E1E;
    opacity: 0.8;
}


@media (max-width: 768px) {

    /* Navbar Menu Starts here */

    .toggle-button {
        display: flex;
        right: 8%;
        top: 22px;
    }


    .navbar-links {
        display: none;
        width: 100%;

    }

    .navbar .navbar-links ul {
        flex-direction: column;
        width: 100%;
        padding-left: 0;

    }

    .navbar .navbar-links ul li {
        text-align: center;
        height: 35px;
        width: 100%;
        padding-top: 7px;

    }

    .navbar .navbar-links ul li:hover {
        background-color: #8D8D8D;
    }

    .navbar .brand-title {
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .navbar {
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 5%;
        background-color: rgba(30, 30, 30, 0.99);
    }

    .fa-shopping-cart {
        display: none;
    }

    .navbar-links.active {
        display: flex;

    }

    /* Navbar Menu Ends */

    /* Home Section Starts */

    .home {
        padding-top: 30%;
        width: 100%;
        height: 650px;
        background-position: center;
        margin-bottom: 75px;
    }

    .title {
        margin: auto 14%;
        font-size: 30px;
    }

    .subtitle {
        margin: 10px auto;
        font-size: 14px;
        line-height: 100%;
    }

    .search-bar {
        padding-top: 15px;
        display: flex;
    }

    .search {
        padding: 15px 25px;
        height: 35px;
        width: 200px;
    }


    input::placeholder {
        font-size: 12px;
    }

    .circle {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-left: -30px;
    }

    .fa-search {
        font-size: 14px;
    }

    /* Home Section Ends */


    /* Why Us section Starts Here */

    .column {
        float: none;
        width: 100%;
        align-items: center;
        font-family: 'gilroy-medium';
        padding: 10px 16px 25px 16px;

    }

    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5%;
    }


    .column1 {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-left: 0;
        margin: 0 auto 10% auto;
    }

    .why-title {
        display: inline-block;
        font-size: 30px;
        padding-left: 10px;
    }

    .column-title {
        font-size: 22px;
    }

    .column-sub {
        font-size: 14px;
    }

    /* Why Us Section Ends */

    /* Experiences Section Starts */

    .experience {
        padding-top: 75px;
        display: block;
        height: 700px;
    }

    .exp-img {
        width: 100%;
        display: flex;
        margin-bottom: 70%;
    }

    .exp-img-left img {
        width: 90%;
        margin-left: 5%;
        height: 225px;
    }


    .back-grey1 {
        display: none;
    }

    .back-grey2 {
        display: none;
    }

    .back-grey3 {
        width: 80%;
        height: 200px;
        margin-left: 0px;
        filter: blur(15px);
        opacity: 0.3;
        margin-left: 5%;
    }

    .exp-text {
        width: 90%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .why-title {
        padding-left: 0;
        margin: 0;
    }

    .column-sub2 {
        font-size: 17px;
        margin-right: 5%;
    }

    /* Experiences Section Ends */

    /* Materials Section Starts */

    .materials {
        padding: 0% 0 8% 10%;
        margin: 0 auto 8% auto;
        display: flex;
        flex-direction: column-reverse;
        right: 0;
        height: 750px;
    }

    .mat-text {
        width: 100%;
        margin-top: 80%;
    }

    .mat-img {
        width: 100%;
        position: inherit;
        float: none;
        align-items: center;
    }

    .mat-img-right img {
        width: 90%;
        margin-right: 5%;
        height: 245px;
        right: 0px;
        margin-bottom: 25%;
        

    }

    .mat-img-left {
        display: none;
    }

    .mat-img-right-blur {
        width: 80%;
        margin-right: 5%;
        height: 235px;
        right: 0px;
        margin-bottom: 50%;

    }

    .back-grey4 {
        display: none;
    }

    /* Materials Section Ends */
    
    
    /* Testimonial Section Starts */
    
    .testimonial-black-title {
        font-size: 33px;
    }

    .owl-nav .owl-next {
        right: -3%;
    }
    
    .white-card {
        width: 90%;
    }

    .testi-text {
        margin-bottom: 15px;
    }
    
    .white-card .star-rating {
        padding-left: 0%;
    }


    /* Testimonial Section Ends */


    /* Footer Section Starts */

    footer {
        height: 300px;
        padding: 10% 0% 0% 13%;
    }
    
    .footer-bar {
        display: flex;
    }
    
    .col1 {
        width: 100%;
    }
    
    .col2 {
        display: none;
    }
    
    .terms-text {
        display: none;
    }
    

}